.img-form {
    padding: 3rem;
    border-radius: 5px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 24px 24px 48px #16181b, -24px -24px 48px #2c3035;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.img-form-container {
    width: 100%;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
}

.img-form-container img {
    width: 100%;
    transition: 0.5s ease;
}

.img-form:hover img {
    transform: scale(1.1);
    /*zoomintheimageupto30%*/
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.img-text-form h2 {
    padding: 1rem 0;
    font-weight: bold;
    font-size: 2rem;
    color: #ddd;
}

.img-text-form p {
    padding: .7rem 0;
    color: #636576;
    font-size: 1.5rem;
}

.contact-img-form {
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #6d6d7b;
}

.contact-img-form span {
    color: #a6a6b4;
}

.email-span:hover {
    transition: 0.3s;
    color: #f8024e;
    -webkit-transition: 0.3s;
    cursor: pointer;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.icon-img-form i {
    padding: 1.3rem;
    color: #ddd;
    font-size: 2rem;
    border-radius: 5px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 22px 22px 44px #15171a, -22px -22px 44px #2d3136;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: 0.3s;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    cursor: pointer;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.icon-img-form i:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    color: #15171a;
    background: #f8024e;
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}

.title-contact {
    padding: 2rem 0;
}

.title-contact h2 {
    font-size: 2.8rem;
    font-weight: bold;
    color: #ddd;
}

.inputs-form {
    border-radius: 5px;
    border-radius: 50px;
    border-radius: 50px;
    border-radius: 50px;
    border-radius: 50px;
    background: linear-gradient(145deg, #24272a, #2b2e32);
    box-shadow: 5px 5px 10px #1a1c1f, -5px -5px 10px #363a3f;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 2rem;
}

.inputs-form input,
textarea {
    font-size: 1.3rem!important;
    padding: 1.25rem 1rem!important;
    background-color: #15171a !important;
    border: 0;
    outline: 0!important;
}

.inputs-form textarea {
    height: 22rem!important;
}

label {
    color: #ddd!important;
    font-size: 1.2rem!important;
}

.submit-buttons {
    margin-top: 2rem;
}

.error {
    font-size: 1.2rem;
    color: red;
    letter-spacing: 3px;
}