.img-form {
    padding: 3rem;
    border-radius: 5px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 24px 24px 48px #16181b, -24px -24px 48px #2c3035;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.img-form-container {
    width: 100%;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
}

.img-form-container img {
    width: 100%;
    transition: 0.5s ease;
}

.img-form-container:hover img {
    transform: scale(1.3);
    /* zoom in the image upto 30% */
    cursor: pointer;
}