.icon-portfolio i,
.icon-portfolio p {
    color: #656565;
    font-weight: bold;
}

.icon-portfolio i {
    padding-top: .25rem;
}

.img-portfolio-container {
    width: 250px;
    height: 250px;
    border: 3px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}