.icon-services i {
    font-size: 3rem;
}

.red-color {
    color: #f8024e;
}

.content-services {
    padding: 1.2rem 0;
    color: #FDFDFE;
}

.content-services h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.content-services p {
    line-height: 1.5rem;
}

.services-item {
    border-radius: 12px;
    padding: 2rem 2.8rem;
    background: #212428;
    box-shadow: 10px 10px 20px #1b1e21, -10px -10px 20px #272a2f;
}