.icon-services i {
    font-size: 3rem;
}

.red-color {
    color: #f8024e;
}

.content-services {
    padding: 1.2rem 0;
    color: #FDFDFE;
}

.content-services h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.content-services p {
    line-height: 2.25rem;
    font-size: 1.4rem;
}

.services-item {
    border-radius: 12px;
    transition: 0.5s!important;
    padding: 4rem 3.5rem;
    background: #212428;
    box-shadow: 10px 10px 20px #1b1e21, -10px -10px 20px #272a2f;
    -webkit-transition: 0.5s!important;
    -moz-transition: 0.5s!important;
    -ms-transition: 0.5s!important;
    -o-transition: 0.5s!important;
}

.services-item:hover {
    border-radius: 12px;
    transform: translateY(-1.2rem);
    transition: 0.5s!important;
    background: linear-gradient(145deg, #23272b, #1e2024);
    box-shadow: 10px 10px 13px #1b1e21, -10px -10px 13px #272a2f;
    -webkit-transition: 0.5s!important;
    -moz-transition: 0.5s!important;
    -ms-transition: 0.5s!important;
    -o-transition: 0.5s!important;
    -webkit-transform: translateY(-1.2rem);
    -moz-transform: translateY(-1.2rem);
    -ms-transform: translateY(-1.2rem);
    -o-transform: translateY(-1.2rem);
}