.icon-services i {
    font-size: 3rem;
}

.red-color {
    color: #f8024e;
}

.content-services {
    padding: 1.2rem 0;
    color: #FDFDFE;
}

.content-services h2 {
    font-size: 2rem;
}

.content-services p {
    line-height: 1.5rem;
}

.services-item {
    border-radius: 12px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 23px 23px 28px #1e2024, -23px -23px 28px #24282c;
}