.title-portfolio h2 {
    font-size: 3rem;
    color: #ddd;
    font-weight: bold;
    letter-spacing: 6px;
    padding-top: 1.2rem;
}

.title-portfolio h5 {
    font-size: 1rem;
    letter-spacing: 5px;
}