.limit-width {
    max-width: 1450px;
    padding: 6rem 0;
    margin: auto;
}

.girl-bg {
    background-image: url(../../../bg-image-8.webp);
    padding: 20em;
    background-attachment: fixed;
    background-size: cover;
    -width: 100%;
    background-position: center;
    margin-bottom: 5rem;
}