.inner-img-about,
.img-about {
    padding: 0.5rem;
    border-radius: 5px;
    max-width: 100%;
}

.inner-img-about {
    border-radius: 50px;
    background: #212428;
    box-shadow: 5px 5px 10px #17191c, -5px -5px 10px #2b2f34;
}

.inner-img-about img {
    width: 100%;
}