.inner-img-about,
.img-about {
    padding: 1rem;
    border-radius: 5px;
    max-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background: #212428;
    box-shadow: 7px 7px 9px #1d1f23, -7px -7px 9px #25292d;
    -o-border-radius: 5px;
}

.inner-img-about img {
    width: 100%;
}