.inner-img-about,
.img-about {
    padding: 0.5rem;
    border-radius: 5px;
    max-width: 100%;
}

.inner-img-about {
    border-radius: 5px;
    background: #212428;
    box-shadow: 5px 5px 10px #17191c, -5px -5px 10px #2b2f34;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    position: relative;
    align-self: stretch;
    height: auto;
    pad: 1rem;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 10px;
    -o-border-radius: 5px;
}

.inner-img-about img {
    width: 100%;
    border-radius: 5px!important;
    -webkit-border-radius: 5px!important;
    transform: scale(1.2);
    -moz-border-radius: 5px!important;
    padding: 1.5rem;
    -ms-border-radius: 5px!important;
    -o-border-radius: 5px!important;
}

.content-about {
    margin: 5.5rem 1.5rem;
}

.content-about h2,
p {
    color: #ddd;
}

.content-about h2 {
    font-size: 4rem;
    padding: 1rem 0;
    font-weight: bold;
}

.content-about p {
    font-size: 1.25rem;
    padding: 0.9rem;
}