.black-bg {
    background-color: #212428;
}

.banner-header {
    background-image: url(../../../bg-image-12.webp);
    background-position: center;
    background-size: cover;
    padding: 21.5rem 0;
}

.banner-header h1 {
    letter-spacing: 6px;
    font-size: 3.2rem;
}

.banner-header p {
    letter-spacing: 6px;
    font-size: 1.2rem;
    padding: 2rem 0;
    color: #fff;
}